Repository onclick-academy/onclick-server, pull requests merged in 2024-02, with the labels that each got.

#167 Implement 'DTO', 'DAO', 'JOI' validations, 'Controllers' and 'ROUTES' for category model
  index.ts
  src/controllers/category.controller.ts
  src/middlewares/validation/course/category.validation.ts
  src/models/dao/category.dao.ts
  src/models/dto/category.dto.ts
  src/models/prisma/schema.prisma
  src/routes/category.routes.ts
  src/types/category.interface.ts
  types.d.ts
Labels: enhancement, backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes, express, category

#162 feat[backend]: Add News dao
  src/models/dao/news.dao.ts
Labels: backend, dao

#176 feat-backend-111-sub_feature_implement_controller_for_topic_model
  src/controllers/admin.controller.ts
  src/controllers/auth.controller.ts
  src/controllers/subCategory.controller.ts
  src/controllers/topic.controller.ts
  src/controllers/user.controller.ts
  src/middlewares/auth.middleware.ts
  src/middlewares/validation/course/subCategory.validations.ts
  src/middlewares/validation/course/topic.validation.ts
  src/models/dao/admin.dao.ts
  src/models/dao/subCategory.dao.ts
  src/models/dao/topic.dao.ts
  src/models/dao/user.dao.ts
  src/models/dto/topic.dto.ts
  src/models/prisma/schema.prisma
  src/routes/subCategory.routes.ts
  src/routes/topic.routes.ts
  types.d.ts
Labels: backend, prisma, db, dto, dao, routes, express, subCategory, topic

#177 feat-backend-101-sub_feature_implement_dao_for_event_model
  index.ts
  src/controllers/auth.controller.ts
  src/controllers/event.controller.ts
  src/middlewares/validation/content/events.validation.ts
  src/models/dao/auth.dao.ts
  src/models/dao/event.dao.ts
  src/models/dto/events.dto.ts
  src/routes/event.route.ts
  src/types/user.interface.ts
  types.d.ts
Labels: backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes, event

#178 feat-backend-105-sub_feature_implement_wishlist_model
  index.ts
  src/controllers/wishlist.controller.ts
  src/middlewares/validation/whishlist.validation.ts
  src/models/dao/wishlist.dao.ts
  src/models/dto/whishlist.dto.ts
  src/routes/wishlist.route.ts
  types.d.ts
Labels: enhancement, backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes, express

#179 feat-backend-97-sub_feature_implement_dao_for_appsettings_model
  index.ts
  src/controllers/appSettings.controller.ts
  src/middlewares/validation/content/appSettings.validation.ts
  src/models/dao/appSettings.dao.ts
  src/models/dto/appSettings.dto.ts
  src/models/prisma/schema.prisma
  src/routes/appSettings.route.ts
  types.d.ts
Labels: enhancement, backend, db, JOI, VALIDATION, dto, dao, controllers, routes

#180 feat-backend-95-sub_feature_implement_susspendState_model
  index.ts
  src/controllers/suspendState.controller.ts
  src/middlewares/validation/users/suspendState.validation.ts
  src/middlewares/validation/users/susspendState.validation.ts
  src/models/dao/suspendState.dao.ts
  src/models/dto/suspendState.dto.ts
  src/models/dto/susspendState.dto.ts
  src/routes/suspendState.route.ts
  types.d.ts
Labels: enhancement, backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes, express

#181 feat-backend-87-sub_feature_implement_dao_for_lecture_model
  index.ts
  src/controllers/lecture.controller.ts
  src/middlewares/validation/course/lecture.validation.ts
  src/models/dao/lecture.dao.ts
  src/models/dto/lecture.dto.ts
  src/routes/lecture.route.ts
  types.d.ts
Labels: enhancement, backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes

#182 feat-backend-88-sub_feature_implement_dao_for_lecturecontent_model
  index.ts
  src/controllers/lectureContent.controller.ts
  src/middlewares/validation/course/lecturesContent.validation.ts
  src/models/dao/lectureContent.dao.ts
  src/models/dto/lectureContent.dto.ts
  src/models/prisma/schema.prisma
  src/routes/lectureContent.route.ts
  types.d.ts
Labels: enhancement, backend, prisma, db, JOI, VALIDATION, dto, dao, controllers, routes, express

#163 Feat/backend/89/sub feature implement dao for lecturemateral model
  src/models/dao/lecurematerial.dao.ts
Labels: backend, db, dao

#160 feat[backend]: Add Blockstate dao
  src/models/dao/blockstate.dao.ts
Labels: backend, db, dao

#190 feat-backend-189-feature_implement_cron_script_by_node_cron_npm_library
  index.ts
  package.json
  src/models/dao/blockstate.dao.ts
  src/models/dto/blockState.dto.ts
  src/routes/appSettings.route.ts
  src/scripts/cron.op.ts
  types.d.ts
Labels: enhancement, backend, db, admin, instructor, student, script
